{{- $src := .Destination -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $title := .Title | markdownify -}}

{{- $width := "" -}}
{{- $height := "" -}}

{{- $style := "" -}}
{{- with .Title -}}
  {{- $wMatch := findRE `width=['"]?([0-9]+(?:px|%)?)` . -}}
  {{- if gt (len $wMatch) 0 -}}
    {{- $w := replaceRE `.*width=['"]?([0-9]+(?:px|%)?).*` `$1` (index $wMatch 0) -}}
    {{- $width = $w -}}
    {{- $style = printf "%smax-width:%s;" $style $w -}}
  {{- end -}}

  {{- $hMatch := findRE `height=['"]?([0-9]+(?:px|%)?)` . -}}
  {{- if gt (len $hMatch) 0 -}}
    {{- $h := replaceRE `.*height=['"]?([0-9]+(?:px|%)?).*` `$1` (index $hMatch 0) -}}
    {{- $height = $h -}}
    {{- $style = printf "%smax-height:%s;" $style $h -}}
  {{- end -}}
{{- end -}}

{{- if $style -}}
  {{- $style = printf "%sheight:auto;display:block;margin:20px auto;" $style -}}
{{- end -}}
<img
  src="{{ $src }}"
  alt="{{ $alt }}"
  height="{{ $height }}"
  width={{ $width }}
  class="gallery-image"
  loading="lazy"
  style="{{ $style | safeCSS }}"
  sizes="(max-width: 767px) calc(100vw - 30px), (max-width: 1023px) 700px, (max-width: 1279px) 950px, 1232px"
/>
